<nz-collapse [nzBordered]="false">
  <nz-collapse-panel
    #p
    [nzHeader]="chapter.name"
    [nzExtra]="chapterDeleteButton"
    class="chapter-entry"
  >
    <ng-template #chapterDeleteButton>
      <button class="chapter-modify-button" (click)="renameThisChapter($event)" nz-button nzType="default">
        重命名
      </button>
      <button class="chapter-modify-button" (click)="deleteThisChapter($event)" nz-button nzType="danger">
        删除
      </button>
    </ng-template>
    <nz-layout class="message-list-layout">
      <nz-spin
        *ngIf="isLoading"
        style="text-align: center; margin: 32px;"
        [nzIndicator]="indicatorTemplate"
        nzSimple></nz-spin>
      <ng-template #indicatorTemplate><i nz-icon type="loading" style="font-size: 48px;"></i></ng-template>
      <nz-list *ngIf="!isLoading">
        <nz-list-item class="message-entry" *ngFor="let content of contents; let i = index;">
          <div style="width: 100%;">
            <div nz-row style="width: 100%;">
              <div nz-col nzSpan="20">
                <span class="message-index">{{i}}&nbsp;&nbsp;<i nz-icon nzType="caret-right" nzTheme="outline"></i>&nbsp;&nbsp;</span>{{content.text}}
              </div>
              <div nz-col nzSpan="4" class="content-modify-button-group">
                <button class="content-modify-button" (click)="deleteContent(content)" nz-button nzType="danger"
                        nzShape="circle">
                  <i nz-icon nzType="delete"></i>
                </button>
                <button class="content-modify-button" (click)="modifyContent(content)" nz-button nzType="default"
                        nzShape="circle">
                  <i nz-icon nzType="edit"></i>
                </button>
              </div>
            </div>
            <div style="padding-left: 30px" *ngIf="content.type === 2">
              <nz-divider style="margin-top: 10px; margin-bottom: 10px" nzDashed="true"></nz-divider>
              <p *ngFor="let option of content.options">
                <nz-tag
                  [nzColor]="option.isCorrect ? 'green' : 'volcano'">{{['A', 'B', 'C', 'D'][option.optionId - 1]}}</nz-tag>
                {{option.text}}
              </p>
            </div>
          </div>
        </nz-list-item>
      </nz-list>
    </nz-layout>
    <nz-spin *ngIf="!isLoading" [nzSpinning]="creatingMessage">
      <div *ngIf="!isLoading" class="input-line">
        <label style="display: none;">输入新消息内容：</label>
        <input [(ngModel)]="plainContent" *ngIf="messageType === 'plain'" placeholder="请输入新消息内容"
               class="new-message-input"
               nz-input type="text"/>
        <input [(ngModel)]="questionContent" *ngIf="messageType === 'question'" placeholder="请输入问题，并在下方编辑答案"
               class="new-message-input" nz-input
               type="text"/>
        <button
          (click)="createMessage()"
          class="add-message-button"
          nz-button nzType="primary"
          nzShape="circle"
          nzSize="large">
          <i nz-icon [nzType]="messageType === 'plain' ? 'plus' : 'question'"></i>
        </button>
        <button
          (click)="switchMessageType()"
          class="add-message-button"
          nz-button nzType="default"
          nzShape="circle"
          nzSize="large">
          <i nz-icon nzType="swap"></i>
        </button>
      </div>
      <div class="input-line" *ngIf="messageType === 'question'">
        <label>正确答案：</label>
        <nz-radio-group [(ngModel)]="correctAnswer" class="answer-line">
          <label nz-radio nzValue="1">A</label>
          <label nz-radio nzValue="2">B</label>
          <label nz-radio nzValue="3">C</label>
          <label nz-radio nzValue="4">D</label>
        </nz-radio-group>
        <nz-input-group nzAddOnBefore="A" class="answer-line">
          <input [(ngModel)]="options[0].text" type="text" nz-input/>
        </nz-input-group>
        <nz-input-group nzAddOnBefore="B" class="answer-line">
          <input [(ngModel)]="options[1].text" type="text" nz-input/>
        </nz-input-group>
        <nz-input-group nzAddOnBefore="C" class="answer-line">
          <input [(ngModel)]="options[2].text" type="text" nz-input/>
        </nz-input-group>
        <nz-input-group nzAddOnBefore="D" class="answer-line">
          <input [(ngModel)]="options[3].text" type="text" nz-input/>
        </nz-input-group>
      </div>
    </nz-spin>
    <ng-template let-active>
      {{ active }}
      <i nz-icon type="caret-right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></i>
    </ng-template>
  </nz-collapse-panel>
</nz-collapse>

<nz-modal
  [(nzVisible)]="renameModalVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleRenameCancel()"
>
  <ng-template #modalTitle>
    重命名章节
  </ng-template>

  <ng-template #modalContent>
    <input [(ngModel)]="newChapterName" nz-input placeholder="请输入新章节名" nzSize="default"/>
  </ng-template>

  <ng-template #modalFooter>
    <span>确定修改吗？</span>
    <button nz-button nzType="default" (click)="handleRenameCancel()">取消</button>
    <button nz-button nzType="primary" (click)="renameChapter()" [nzLoading]="renamingChapter">确定</button>
  </ng-template>
</nz-modal>
