<nz-collapse [nzBordered]="false">
  <nz-collapse-panel
    #p
    [nzExtra]="chapterDeleteButton"
    [nzHeader]="chapter.name"
    class="chapter-entry"
  >
    <ng-template #chapterDeleteButton>
      <button (click)="renameThisChapter($event)" class="chapter-modify-button" nz-button nzType="default">
        重命名
      </button>
      <button (click)="deleteThisChapter($event)" class="chapter-modify-button" nz-button nzType="danger">
        删除
      </button>
    </ng-template>
    <nz-layout class="message-list-layout">
      <nz-spin
        *ngIf="isLoading"
        [nzIndicator]="indicatorTemplate"
        nzSimple
        style="text-align: center; margin: 32px;"></nz-spin>
      <ng-template #indicatorTemplate><i nz-icon style="font-size: 48px;" type="loading"></i></ng-template>
      <nz-list *ngIf="!isLoading">
        <nz-list-item *ngFor="let content of contents; let i = index;" class="message-entry">
          <div style="width: 100%;">
            <div nz-row style="width: 100%;">
              <div nz-col nzSpan="20">
                <span class="message-index">{{i}}&nbsp;&nbsp;<i nz-icon nzTheme="outline" nzType="caret-right"></i>&nbsp;&nbsp;</span>{{content.text}}
              </div>
              <div class="content-modify-button-group" nz-col nzSpan="4">
                <button (click)="deleteContent(content)" class="content-modify-button" nz-button nzShape="circle"
                        nzType="danger">
                  <i nz-icon nzType="delete"></i>
                </button>
                <button (click)="modifyContent(content)" *ngIf="false" class="content-modify-button" nz-button
                        nzShape="circle"
                        nzType="default">
                  <i nz-icon nzType="edit"></i>
                </button>
              </div>
            </div>
            <div *ngIf="content.type === 2" style="padding-left: 30px">
              <nz-divider nzDashed="true" style="margin-top: 10px; margin-bottom: 10px"></nz-divider>
              <p *ngFor="let option of content.options">
                <nz-tag
                  [nzColor]="option.isCorrect ? 'green' : 'volcano'">{{['A', 'B', 'C', 'D'][option.optionId - 1]}}</nz-tag>
                {{option.text}}
              </p>
            </div>
          </div>
        </nz-list-item>
      </nz-list>
    </nz-layout>
    <nz-spin *ngIf="!isLoading" [nzSpinning]="creatingMessage">
      <div *ngIf="!isLoading" class="input-line">
        <label style="display: none;">输入新消息内容：</label>
        <input *ngIf="messageType === 'plain'" [(ngModel)]="plainContent" class="new-message-input"
               nz-input
               placeholder="请输入新消息内容" type="text"/>
        <input *ngIf="messageType === 'question'" [(ngModel)]="questionContent" class="new-message-input"
               nz-input placeholder="请输入问题，并在下方编辑答案"
               type="text"/>
        <button
          (click)="createMessage()"
          class="add-message-button"
          nz-button nzShape="circle"
          nzSize="large"
          nzType="primary">
          <i [nzType]="messageType === 'plain' ? 'plus' : 'question'" nz-icon></i>
        </button>
        <button
          (click)="switchMessageType()"
          class="add-message-button"
          nz-button nzShape="circle"
          nzSize="large"
          nzType="default">
          <i nz-icon nzType="swap"></i>
        </button>
      </div>
      <div *ngIf="messageType === 'question'" class="input-line">
        <label>正确答案：</label>
        <nz-radio-group [(ngModel)]="correctAnswer" class="answer-line">
          <label nz-radio nzValue="1">A</label>
          <label nz-radio nzValue="2">B</label>
          <label nz-radio nzValue="3">C</label>
          <label nz-radio nzValue="4">D</label>
        </nz-radio-group>
        <nz-input-group class="answer-line" nzAddOnBefore="A">
          <input [(ngModel)]="options[0].text" nz-input type="text"/>
        </nz-input-group>
        <nz-input-group class="answer-line" nzAddOnBefore="B">
          <input [(ngModel)]="options[1].text" nz-input type="text"/>
        </nz-input-group>
        <nz-input-group class="answer-line" nzAddOnBefore="C">
          <input [(ngModel)]="options[2].text" nz-input type="text"/>
        </nz-input-group>
        <nz-input-group class="answer-line" nzAddOnBefore="D">
          <input [(ngModel)]="options[3].text" nz-input type="text"/>
        </nz-input-group>
      </div>
    </nz-spin>
    <ng-template let-active>
      {{ active }}
      <i [nzRotate]="p.nzActive ? 90 : -90" class="ant-collapse-arrow" nz-icon type="caret-right"></i>
    </ng-template>
  </nz-collapse-panel>
</nz-collapse>

<nz-modal
  (nzOnCancel)="handleRenameCancel()"
  [(nzVisible)]="renameModalVisible"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  [nzTitle]="modalTitle"
>
  <ng-template #modalTitle>
    重命名章节
  </ng-template>

  <ng-template #modalContent>
    <input [(ngModel)]="newChapterName" nz-input nzSize="default" placeholder="请输入新章节名"/>
  </ng-template>

  <ng-template #modalFooter>
    <span>确定修改吗？</span>
    <button (click)="handleRenameCancel()" nz-button nzType="default">取消</button>
    <button (click)="renameChapter()" [nzLoading]="renamingChapter" nz-button nzType="primary">确定</button>
  </ng-template>
</nz-modal>
