<nz-spin
  *ngIf="isLoading"
  style="text-align: center; margin: 32px;"
  [nzIndicator]="indicatorTemplate"
  nzSimple></nz-spin>
<ng-template #indicatorTemplate><i nz-icon type="loading" style="font-size: 48px;"></i></ng-template>

<nz-layout *ngIf="!isLoading">
  <nz-layout>
    <nz-content id="content" style="background:#fff; padding: 32px;">
      <div class="input-line">
        <label style="display: none;">输入新课程名</label>
        <input placeholder="请输入新课程名" class="new-course-input" nz-input type="text"/>
        <button nz-button nzType="primary">
          <i nz-icon nzType="plus"></i>创建课程
        </button>
      </div>

      <nz-list [nzDataSource]="courses" [nzRenderItem]="entry" [nzGrid]="{ gutter: 16, xs: 24, sm: 12, md: 12, lg: 12, xl: 8 }">
        <ng-template #entry let-item>
          <nz-list-item class="course-entry" (click)="enterCourse(item.id)" [nzContent]="nzContent">
            <ng-template #nzContent>
              <nz-card class="card" [nzTitle]="item.id + ' ' + item.name">
                {{ item.description ? item.description : '（暂无，建议添加课程描述）' }}
              </nz-card>
            </ng-template>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </nz-content>
  </nz-layout>
</nz-layout>
<ng-template #zeroTrigger>
  <i nz-icon type="menu-fold" nzTheme="outline"></i>
</ng-template>
