<nz-layout>
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzBreakpoint]="'sm'"
    [nzCollapsedWidth]="0"
    [nzZeroTrigger]="zeroTrigger"
  >
    <ul nz-menu [nzMode]="'inline'" style="height:100%" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item><a routerLink="/mine/info"><i nz-icon nzType="info-circle"></i>基本信息</a></li>
      <li nz-menu-item nzSelected><a routerLink="/mine/modify"><i nz-icon nzType="setting"></i>修改密码</a></li>
      <li nz-menu-item><a (click)="userService.logoutAndRedirect()"><i nz-icon nzType="logout"></i>登出</a></li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content style="background:#fff; padding: 32px; min-height: 280px;">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event, validateForm.value)">
        <nz-form-item>
          <nz-form-label [nzSpan]="3" nzRequired>旧密码</nz-form-label>
          <div>
            <nz-form-control [nzSpan]="6" nzHasFeedback>
              <input nz-input type="password" formControlName="oldPassword" (ngModelChange)="validateOldPassword()"/>
              <nz-form-explain
                *ngIf="validateForm.get('oldPassword')?.dirty"
              >
                <ng-container *ngIf="validateForm.get('oldPassword')?.hasError('required')">
                  请输入新密码
                </ng-container>
                <ng-container *ngIf="validateForm.get('oldPassword')?.hasError('wrong')">
                  密码错误
                </ng-container>
                <ng-container *ngIf="validateForm.get('oldPassword')?.hasError('netError')">
                  网络异常，无法验证，请尝试修复网络或重新登录
                </ng-container>
              </nz-form-explain
              >
            </nz-form-control>
          </div>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="3" nzRequired>新密码</nz-form-label>
          <div>
            <nz-form-control [nzSpan]="6" nzHasFeedback>
              <input nz-input type="password" formControlName="password" (ngModelChange)="validateConfirmPassword()"/>
              <nz-form-explain
                *ngIf="validateForm.get('password')?.dirty"
              >
                <ng-container *ngIf="validateForm.get('password')?.hasError('required')">
                  请输入新密码
                </ng-container>
                <ng-container *ngIf="validateForm.get('password')?.hasError('short')">
                  密码长度至少为6
                </ng-container>
                <ng-container *ngIf="validateForm.get('password')?.hasError('long')">
                  密码长度不能超过20
                </ng-container>
                <ng-container *ngIf="validateForm.get('password')?.hasError('onlyNumber')">
                  密码不能仅包含数字
                </ng-container>
              </nz-form-explain
              >
            </nz-form-control>
          </div>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="3" nzRequired>重复新密码</nz-form-label>
          <nz-form-control [nzSpan]="6" nzHasFeedback>
            <input nz-input type="password" formControlName="confirm"/>
            <nz-form-explain *ngIf="validateForm.get('confirm')?.dirty && validateForm.get('confirm')?.errors">
              <ng-container *ngIf="validateForm.get('confirm')?.hasError('required')">
                请重复输入新密码
              </ng-container>
              <ng-container *ngIf="validateForm.get('confirm')?.hasError('confirm')">
                两次输入密码不一致
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzOffset]="3" [nzSpan]="8">
            <button nz-button [nzType]="applyButtonType" [disabled]="!validateForm.valid" style="margin-top: 30px">
              <i nz-icon [nzType]="applyButtonIconType"
                 [spin]="applying" nzTheme="outline"></i>更改密码
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-content>
  </nz-layout>
</nz-layout>
<ng-template #zeroTrigger>
  <i nz-icon type="menu-fold" nzTheme="outline"></i>
</ng-template>
