<nz-layout>
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="collapsed"
    [nzBreakpoint]="'sm'"
    [nzCollapsedWidth]="0"
    [nzZeroTrigger]="zeroTrigger"
  >
    <ul nz-menu [nzMode]="'inline'" style="height:100%" [nzInlineCollapsed]="collapsed">
      <li nz-menu-item nzSelected><a routerLink="/mine/info"><i nz-icon nzType="info-circle"></i>基本信息</a></li>
      <li nz-menu-item><a routerLink="/mine/modify"><i nz-icon nzType="setting"></i>修改密码</a></li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-spin
      *ngIf="loading"
      style="text-align: center; margin: 32px;"
      [nzIndicator]="indicatorTemplate"
      nzSimple></nz-spin>
    <ng-template #indicatorTemplate><i nz-icon type="loading" style="font-size: 48px;"></i></ng-template>
    <nz-content style="background:#fff; padding: 32px; min-height: 280px;" *ngIf="!loading">
      <form nz-form>

        <nz-form-item>
          <nz-form-control nzOffset="2" [nzSm]="8" [nzXs]="24">
            <nz-upload
              class="avatar-uploader"
              [nzAction]="'http://localhost:8080/upload-avatar/' + this.user.uuid"
              nzName="avatar"
              nzListType="picture-card"
              [nzShowUploadList]="false"
              [nzBeforeUpload]="beforeUpload"
              (nzChange)="handleChange($event)"
            >
              <ng-container *ngIf="!this.user.headSculpture">
                <i class="upload-icon" nz-icon [nzType]="avatarLoading ? 'loading' : 'plus'"></i>
                <div class="ant-upload-text">上传头像</div>
              </ng-container>
              <img style="width: 87px" *ngIf="this.user.headSculpture" [src]="avatarUrl" class="avatar"/>
            </nz-upload>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzRequired [nzSm]="2" [nzXs]="24" nzFor="username">用户名</nz-form-label>
          <nz-form-control [nzSm]="8" [nzXs]="24">
            <input nz-input id="username" name="username" type="text" disabled [readOnly]="true"
                   [value]="user.username"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="2" [nzXs]="24" nzFor="nickname">昵称</nz-form-label>
          <nz-form-control [nzValidateStatus]="validateNickname(nickname.value) ? 'success' : 'error'" [nzSm]="12"
                           [nzXs]="24">
            <div nz-row [nzGutter]="8">
              <div nz-col [nzSpan]="16">
                <input #nickname nz-input id="nickname" name="nickname" type="text" [readOnly]="true"
                       [(ngModel)]="user.nickname"/>
                <nz-form-explain *ngIf="!validateNickname(nickname.value)">昵称不应超过20个字符</nz-form-explain>
              </div>
              <div nz-col [nzSpan]="4">
                <button #modifyNickname (click)="makeEditable(nickname, modifyNickname)" nz-button [nzType]="'dashed'">
                  <i nz-icon nzType="edit" nzTheme="outline"></i>编辑
                </button>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzRequired [nzSm]="2" [nzXs]="24" nzFor="email">邮箱</nz-form-label>
          <nz-form-control [nzValidateStatus]="validateEmail(email.value) ? 'success' : 'error'" [nzSm]="12"
                           [nzXs]="24">
            <div nz-row [nzGutter]="8">
              <div nz-col [nzSpan]="16">
                <input #email nz-input id="email" name="email" type="email" [readOnly]="true"
                       [(ngModel)]="user.email"/>
                <nz-form-explain *ngIf="!validateEmail(email.value)">邮箱格式错误</nz-form-explain>
              </div>
              <div nz-col [nzSpan]="4">
                <button #modifyEmail (click)="makeEditable(email, modifyEmail)" nz-button [nzType]="'dashed'">
                  <i nz-icon nzType="edit" nzTheme="outline"></i>编辑
                </button>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzOffset]="2">
            <button [disabled]="!emailValid || !nicknameValid || applying || (nickname.readOnly && email.readOnly)"
                    (click)="applyModify()" nz-button [nzType]="applyButtonType" style="margin-top: 30px">
              <i nz-icon [nzType]="applyButtonIconType"
                 [spin]="applying"
                 nzTheme="outline"></i>
              应用更改
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-content>
  </nz-layout>
</nz-layout>
<ng-template #zeroTrigger>
  <i nz-icon type="menu-fold" nzTheme="outline"></i>
</ng-template>
