<nz-layout>
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="collapsed"
    [nzBreakpoint]="'sm'"
    [nzCollapsedWidth]="0"
    [nzZeroTrigger]="zeroTrigger"
  >
    <ul nz-menu [nzMode]="'inline'" style="height:100%" [nzInlineCollapsed]="collapsed">
      <li nz-menu-item nzSelected><a routerLink="/mine/info"><i nz-icon nzType="info-circle"></i>基本信息</a></li>
      <li nz-menu-item><a routerLink="/mine/modify"><i nz-icon nzType="setting"></i>修改密码</a></li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-spin
      *ngIf="loading"
      style="text-align: center; margin: 32px;"
      [nzIndicator]="indicatorTemplate"
      nzSimple></nz-spin>
    <ng-template #indicatorTemplate><i nz-icon type="loading" style="font-size: 48px;"></i></ng-template>
    <nz-content style="background:#fff; padding: 32px; min-height: 280px;" *ngIf="!loading">
      <div>
        <nz-avatar [nzShape]="'square'" [nzSize]="64" [nzIcon]="'user'"></nz-avatar>
        <button nz-button [nzType]="'dashed'" style="margin-left: 16px; vertical-align: middle;">
          <i nz-icon nzType="upload" nzTheme="outline"></i>更换
        </button>
      </div>
      <div class="user-info">
        <label class="user-info-label" for="username">用户名: </label>
        <input class="user-info-input" nz-input id="username" type="text" disabled [readOnly]="true"
               [value]="user.username"/>
      </div>
      <div class="user-info">
        <label class="user-info-label" for="nickname">昵称: </label>
        <input #nickname class="user-info-input" nz-input id="nickname" type="text" [readOnly]="true"
               [(ngModel)]="user.nickname"/>
        <button #modifyNickname (click)="makeEditable(nickname, modifyNickname)" nz-button [nzType]="'dashed'"
                class="user-info-button">
          <i nz-icon nzType="edit" nzTheme="outline"></i>编辑
        </button>
      </div>
      <div class="user-info">
        <label class="user-info-label" for="email">邮箱: </label>
        <input #email class="user-info-input" nz-input id="email" type="email" [readOnly]="true"
               [(ngModel)]="user.email"/>
        <button #modifyEmail (click)="makeEditable(email, modifyEmail)" nz-button [nzType]="'dashed'"
                class="user-info-button">
          <i nz-icon nzType="edit" nzTheme="outline"></i>编辑
        </button>
      </div>
      <button (click)="applyModify()" nz-button [nzType]="applyButtonType"  style="margin-top: 30px">
        <i nz-icon [nzType]="applyButtonIconType"
           [spin]="applying"
           nzTheme="outline"></i>
        应用更改
      </button>
    </nz-content>
  </nz-layout>
</nz-layout>
<ng-template #zeroTrigger>
  <i nz-icon type="menu-fold" nzTheme="outline"></i>
</ng-template>
