<nz-layout>
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzBreakpoint]="'sm'"
    [nzCollapsedWidth]="0"
    [nzZeroTrigger]="zeroTrigger"
  >
    <ul nz-menu [nzMode]="'inline'" style="height:100%" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item><a routerLink="/course-management"><i nz-icon type="rollback"></i>返回课程列表</a></li>
      <li nz-menu-item nzSelected><a routerLink="/course/{{id}}/info"><i nz-icon type="info-circle"></i>基本信息</a></li>
      <li nz-menu-item><a routerLink="/course/{{id}}/chapter"><i nz-icon type="profile"></i>所有章节</a></li>
      <li nz-menu-item><a routerLink="/course/{{id}}/student"><i nz-icon type="team"></i>选课学生</a></li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-page-header
      [nzTitle]="course.name"
      *ngIf="!isLoading"
      nzSubtitle="课程管理 > {{ course.name }}：基本信息">
    </nz-page-header>
    <nz-spin
      *ngIf="isLoading"
      style="text-align: center; margin: 32px;"
      [nzIndicator]="indicatorTemplate"
      nzSimple></nz-spin>
    <ng-template #indicatorTemplate><i nz-icon type="loading" style="font-size: 48px;"></i></ng-template>
    <nz-content *ngIf="!isLoading" class="course-info" style="background:#fff; padding: 32px; min-height: 280px;">
      <form nz-form>

        <nz-form-item>
          <nz-form-label nzRequired [nzSm]="4" [nzXs]="24" nzFor="courseId">课程id</nz-form-label>
          <nz-form-control [nzSm]="4" [nzXs]="24">
            <input nz-input id="courseId" name="courseId" type="text" disabled [readOnly]="true"
                   [(ngModel)]="course.id"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzRequired [nzSm]="4" [nzXs]="24" nzFor="courseName">课程名</nz-form-label>
          <nz-form-control [nzSm]="20" [nzXs]="24">
            <div nz-row [nzGutter]="8">
              <div nz-col [nzSpan]="16">
                <input #courseName nz-input id="courseName" name="courseName" type="text" [readOnly]="true"
                       [(ngModel)]="course.name"/>
              </div>
              <div nz-col [nzSpan]="4">
                <button #modifyCourseName (click)="makeEditable(courseName, modifyCourseName)" nz-button [nzType]="'dashed'">
                  <i nz-icon nzType="edit" nzTheme="outline"></i>编辑
                </button>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="description">课程描述</nz-form-label>
          <nz-form-control [nzSm]="20" [nzXs]="24">
            <div nz-row [nzGutter]="8">
              <div nz-col [nzSpan]="16">
                <textarea #description nz-input id="description" name="description" type="text" [readOnly]="true"
                          [(ngModel)]="course.description" placeholder="在这里输入课程描述"
                          [nzAutosize]="{ minRows: 2, maxRows: 6 }" ngModel>
                </textarea>
              </div>
              <div nz-col [nzSpan]="4">
                <button #modifyDescription (click)="makeEditable(description, modifyDescription)" nz-button [nzType]="'dashed'">
                  <i nz-icon nzType="edit" nzTheme="outline"></i>编辑
                </button>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzOffset]="4">
            <button [disabled]="applying || (courseName.readOnly && description.readOnly)" [nzLoading]="applying" (click)="applyModify()" nz-button [nzType]="'primary'" style="margin-top: 30px">
              <i nz-icon [nzType]="'reload'"></i>
              应用更改
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-content>
  </nz-layout>
</nz-layout>
<ng-template #zeroTrigger>
  <i nz-icon type="menu-fold" nzTheme="outline"></i>
</ng-template>
