<nz-layout>
  <nz-sider
    [(nzCollapsed)]="isCollapsed"
    [nzBreakpoint]="'sm'"
    [nzCollapsedWidth]="0"
    [nzZeroTrigger]="zeroTrigger"
    nzCollapsible
  >
    <ul [nzInlineCollapsed]="isCollapsed" [nzMode]="'inline'" nz-menu style="height:100%">
      <li nz-menu-item><a routerLink="/course-management"><i nz-icon type="rollback"></i>返回课程列表</a></li>
      <li nz-menu-item nzSelected><a routerLink="/course/{{id}}/info"><i nz-icon type="info-circle"></i>基本信息</a></li>
      <li nz-menu-item><a routerLink="/course/{{id}}/chapter"><i nz-icon type="profile"></i>所有章节</a></li>
      <li nz-menu-item><a routerLink="/course/{{id}}/student"><i nz-icon type="team"></i>选课学生</a></li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-page-header
      *ngIf="!isLoading"
      [nzTitle]="course.name"
      nzSubtitle="课程管理 > {{ course.name }}：基本信息">
    </nz-page-header>
    <nz-spin
      *ngIf="isLoading"
      [nzIndicator]="indicatorTemplate"
      nzSimple
      style="text-align: center; margin: 32px;"></nz-spin>
    <ng-template #indicatorTemplate><i nz-icon style="font-size: 48px;" type="loading"></i></ng-template>
    <nz-content *ngIf="!isLoading" class="course-info" style="background:#fff; padding: 32px; min-height: 280px;">
      <form nz-form>

        <div>
          <nz-form-item style="display: inline-block">
            <nz-form-control [nzSm]="8" [nzXs]="24" nzOffset="2">
              <nz-upload
                (nzChange)="handleChange($event)"
                [nzAction]="uploadUrl + '/upload-course-image/' + course.id"
                [nzBeforeUpload]="beforeUpload"
                [nzShowUploadList]="false"
                class="avatar-uploader"
                nzListType="picture-card"
                nzName="image"
              >
                <ng-container *ngIf="!course.image">
                  <i [nzType]="'plus'" class="upload-icon" nz-icon></i>
                  <div class="ant-upload-text">上传图片</div>
                </ng-container>
                <img *ngIf="course.image" [src]="imageUrl" class="avatar" style="width: 87px"/>
              </nz-upload>
            </nz-form-control>
          </nz-form-item>
        </div>

        <nz-form-item>
          <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="courseId" nzRequired>课程id</nz-form-label>
          <nz-form-control [nzSm]="4" [nzXs]="24">
            <input [readOnly]="true" [value]="course.id" disabled id="courseId" name="courseId" nz-input
                   type="text"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="courseName" nzRequired>课程名</nz-form-label>
          <nz-form-control [nzSm]="20" [nzValidateStatus]="validateCourseName(courseName.value) ? 'success' : 'error'"
                           [nzXs]="24">
            <div [nzGutter]="8" nz-row>
              <div [nzSpan]="16" nz-col>
                <input #courseName [(ngModel)]="course.name" [readOnly]="true" id="courseName" name="courseName" nz-input
                       type="text"/>
                <nz-form-explain *ngIf="!validateCourseName(courseName.value)">课程名只能是 1 到 32 个字符</nz-form-explain>
              </div>
              <div [nzSpan]="4" nz-col>
                <button #modifyCourseName (click)="makeEditable(courseName, modifyCourseName)" [nzType]="'dashed'"
                        nz-button>
                  <i nz-icon nzTheme="outline" nzType="edit"></i>编辑
                </button>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="description">课程描述</nz-form-label>
          <nz-form-control [nzSm]="20"
                           [nzValidateStatus]="validateCourseDescription(description.value) ? 'success' : 'error'" [nzXs]="24">
            <div [nzGutter]="8" nz-row>
              <div [nzSpan]="16" nz-col>
                <textarea #description [(ngModel)]="course.description" [nzAutosize]="{ minRows: 2, maxRows: 6 }" [readOnly]="true" id="description" name="description"
                          ngModel nz-input
                          placeholder="在这里输入课程描述" type="text">
                </textarea>
                <nz-form-explain *ngIf="!validateCourseDescription(description.value)">课程描述不能超过 512 个字符
                </nz-form-explain>
              </div>
              <div [nzSpan]="4" nz-col>
                <button #modifyDescription (click)="makeEditable(description, modifyDescription)" [nzType]="'dashed'"
                        nz-button>
                  <i nz-icon nzTheme="outline" nzType="edit"></i>编辑
                </button>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzOffset]="4">
            <button (click)="applyModify()" [disabled]="applying || (courseName.readOnly && description.readOnly)"
                    [nzLoading]="applying" [nzType]="'primary'" nz-button style="margin-top: 30px">
              <i [nzType]="'reload'" nz-icon></i>
              应用更改
            </button>
            <button (click)="deleteModalVisible = true" [nzType]="'danger'" nz-button style="margin-top: 30px">
              <i [nzType]="'delete'" nz-icon></i>
              删除课程
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-content>
  </nz-layout>
</nz-layout>
<ng-template #zeroTrigger>
  <i nz-icon nzTheme="outline" type="menu-fold"></i>
</ng-template>

<nz-modal
  (nzOnCancel)="deleteModalVisible = false; assureDeleteText = '';"
  [(nzVisible)]="deleteModalVisible"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  [nzTitle]="modalTitle"
>
  <ng-template #modalTitle>
    删除课程
  </ng-template>

  <ng-template #modalContent>
    <input [(ngModel)]="assureDeleteText" nz-input nzSize="default" placeholder="输入“删除”以确认删除"/>
  </ng-template>

  <ng-template #modalFooter>
    <span>确定删除吗？</span>
    <button (click)="deleteModalVisible = false; assureDeleteText = '';" nz-button nzType="default">取消</button>
    <button (click)="deleteCourse()" [nzLoading]="deletingCourse" nz-button nzType="primary">确定</button>
  </ng-template>
</nz-modal>
