<nz-layout>
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzBreakpoint]="'sm'"
    [nzCollapsedWidth]="0"
    [nzZeroTrigger]="zeroTrigger"
  >
    <ul nz-menu [nzMode]="'inline'" style="height:100%" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item><a routerLink="/course-management"><i nz-icon type="rollback"></i>返回课程列表</a></li>
      <li nz-menu-item><a routerLink="/course/{{id}}/info"><i nz-icon type="info-circle"></i>基本信息</a></li>
      <li nz-menu-item nzSelected><a routerLink="/course/{{id}}/chapter"><i nz-icon type="profile"></i>所有章节</a></li>
      <li nz-menu-item><a routerLink="/course/{{id}}/student"><i nz-icon type="team"></i>选课学生</a></li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-page-header
      *ngIf="!courseLoading && !chapterLoading"
      [nzTitle]="course.name"
      nzSubtitle="课程管理 > {{ course.name }}：所有章节">
    </nz-page-header>
    <nz-spin
      *ngIf="chapterLoading || courseLoading"
      style="text-align: center; margin: 32px;"
      [nzIndicator]="indicatorTemplate"
      nzSimple></nz-spin>
    <ng-template #indicatorTemplate><i nz-icon type="loading" style="font-size: 48px;"></i></ng-template>
    <nz-content *ngIf="!courseLoading && !chapterLoading" style="background:#fff; padding: 32px; min-height: 280px;">
      <div class="input-line">
        <label style="display: none;">输入新章节名</label>
        <input [disabled]="creatingChapter" #chapterName  placeholder="请输入新章节名" class="new-chapter-input" nz-input type="text"/>
        <button [nzLoading]="creatingChapter" (click)="createChapter(chapterName)" nz-button nzType="primary">
          <i nz-icon nzType="plus"></i>创建章节
        </button>
      </div>
      <div>
        <app-chapter-editor (delete)="deleteChapter($event)" *ngFor="let chapter of chapters" [chapter]="chapter">
        </app-chapter-editor>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
<ng-template #zeroTrigger>
  <i nz-icon type="menu-fold" nzTheme="outline"></i>
</ng-template>
